.App {
  font-family: sans-serif;
  text-align: center;
}

.tile-box {
  display: flex;
  justify-content: center;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.instructions {
  text-decoration: none;
  font-size: 1.4rem;
  margin: 1em 0;
  background: black;
  color: white;
  padding: 0.4em 1em;
  border-radius: 4px;
}

.instructions:hover {
  color: green;
}
